# --- Silicognition wESP32 (ESP32 + LAN8720) ---
CONFIG_PROBE_BOARD_WESP32=y

# 4 MB flash on the wESP32.
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Internal EMAC + RMII for LAN8720.
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_RMII_CLK_INPUT=y
CONFIG_ETH_RMII_CLK_IN_GPIO=0
